[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
scikit-image = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
opencv-python = "*"
pandoc = "*"
ipykernel = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
